html, body{
    background-color: #9BC995;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
ul.listLeft {
    display: block;
    float: left;
    margin:0px;
    padding-left: 0px;
    margin-top:15px;
    width: 200px;
    height: 100%;
}
ul.listLeft > li{
    display: block;
}
ul.listLeft a{
    display: block;
    color:white;
    text-decoration: none;
    margin-bottom: 7px;
    margin-left: 5px;
    /*border-width: 2px 2px 2px 15px;*/
    border-left: 15px;
    border-style: solid;
    border-color: black;
    padding: 7px;
    /*padding: 5%;
    padding-right: 100%;*/
}
div.mainPage{
    display: block;
    float: left;
    margin-left: 30px;
}
div.mainPage > h1{
    margin-top: 5px;
}
p{
    color: white;
}