html, body{
    background-color: #9BC995;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
ul.listLeft {
    display: block;
    float: left;
    margin:0px;
    padding-left: 0px;
    margin-top:15px;
}
ul.listLeft > li{
    display: block;
    margin-bottom: 7px;
    /*border-width: 2px 2px 2px 15px;*/
    border-width: 100%;
    border-left: 15px;
    border-style: solid;
    border-color: black;
    padding: 7px 90px 7px 7px;
    /*padding: 5%;
    padding-right: 100%;*/

}
div.mainPage{
    display: block;
    float: left;
    margin-left: 15px;
}